.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
}

.st0{fill:none;}
.st1{fill:#FFFFFF;}
.st2{fill:#FF8212;}