.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
}
.cls-1{fill:none;}.cls-2{fill:#fff;}.cls-3{fill:#ff8212;}